body {
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.kalender {
    background-color: rgb(101, 101, 209);
    width: 15em;
    height: 10em;
    margin: 1em;
    flex-wrap: wrap;
    text-align: center;
}